*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --blue: #1E3F7F;
    --orange: #F7B301;
    --green: #176A38;
    --lightblue:#3F9EE1;
    --gray: #D9D8D5;
}

body{
    background-color: var(--blue);
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0.8rem;
    background-color: #3F9EE1;
    min-height: 50px;
}
.box-img-header{
    height: 100%;
}

.img-logo{
    max-width: 100px;
    height: 100%;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav-links{
    text-decoration: none;
    color: var(--white);
}
.nav-links:hover{
    color: var(--gray);
    transition: 0.4s;
    text-decoration: underline;
}
.box-btn-actions{
    display: flex;
    gap: 1rem;
}

.img-produtos{
    height: 300px;
}

button{
    padding: 0.6rem;
    font-size: 0.7rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;

}
.btn-actions{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-actions:hover{
    background-color: var(--gray);
    border: 1px solid var(--gray);
}

/* First Section */

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.first-section{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    min-height: 500px;
}

.first-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1{
    font-size: 25px;
    color: #3F9EE1;
}

.title{
    color: #3F9EE1;
}

.second-section{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.second-section ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    min-height: 250px;
}


.ul-1{
    margin-top: 5rem;
}

.third-section{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* border: 1px solid red; */
}

.third-section ul{
    display: flex;
    gap: 2rem;
    flex-direction: row;
}

.third-section ul li{
    width: 50%;
    list-style: none;
    text-align: center;
}

.third-section ul li sub{
    display: flex;
    margin: 3%;
}

.fourth-section{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    text-align: center;
    color: #F7B301;
}


.title-1{
    color: #3F9EE1;
}

footer{
    text-align: center;
    color: #F7B301;
}
